$answer{'ADMIN_EMAIL'} = '{{ bugzilla_admin_email }}';
$answer{'ADMIN_PASSWORD'} = '{{ bugzilla_admin_password }}';
$answer{'ADMIN_REALNAME'} = '{{ bugzilla_admin_realname }}';
$answer{'NO_PAUSE'} = 1
